@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #475569;
}

::-webkit-scrollbar-thumb {
  background-color: #0f172a;
  border-radius: 10px;
}

.swal-confirm-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #1565c0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-inline: 0.5rem;
}

.swal-cancel-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #e50914;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-inline: 0.5rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 5px solid #0f172a;
}

@media screen and (max-width: 1535px) {
  .swiper-slide {
    height: 250px;
  }
}
@media screen and (max-width: 1280px) {
  .swiper-slide {
    height: 225px;
  }
}
@media screen and (max-width: 768px) {
  .swiper-slide {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .swiper-slide {
    height: 175px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.swiper {
  margin: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #fff;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-disabled {
  background: #fff;
  opacity: 0.38;
}

button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-outlined.MuiPaginationItem-rounded.Mui-selected.MuiPaginationItem-page.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  background: #0f172a;
  font-weight: bold;
  color: #fff;
}

button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-previousNext.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root,
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-page.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  background: #fff;
  font-weight: bold;
  color: #0f172a;
}

.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-ellipsis.css-1v2lvtn-MuiPaginationItem-root {
  color: #fff;
  font-weight: bold;
}

ul.MuiPagination-ul.css-wjh20t-MuiPagination-ul {
  line-height: 40px;
}

.MuiInputBase-root {
  font-size: "0.875rem",
}
.MuiAutocomplete-inputRoot {
  padding-top: "4px",
}
